*{
    margin: 0;
    padding: 0;
    /* font-family: "Fredoka", sans-serif; */
    font-family: "Reem Kufi", sans-serif;
}
/* li{
    list-style-type: circle;
} */



.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-col{
    flex-direction: column;
}



.header{
    width: 100%;
    text-align: center;
    color: #FFBC1E;
    font-family: "Righteous", sans-serif;
    /* background: rgb(255,175,10); */
/* background: linear-gradient(90deg, rgba(255,175,10,1) 0%, rgba(255,236,10,1) 100%); */
}

 .header img{
    height: 40px;
    margin: 0 10px;
}
